@page "/about"
<div class="content-block" id="about">
    <div class="about-title">about me</div>
    <div class="about-text">


        pixel artist, wife, & mother <br>
        one of the only pixel art ui specialists<br><br>

        <h2>interests</h2>
        <div class="thread-tags">
            <i>soft colors</i>  <i>high fantasy</i>  <i>cults</i>  <i>armor</i>  <i>technology</i>  <i>women</i>  <i>dragons</i>
            <i>monsters</i>  <i>angels</i>  <i>elves</i>  <i>corvids</i>  <i>espresso</i>  <i>cozy stuff</i>  <i>cities</i>
        </div><br>

        <h2>hobbies</h2>
        <div class="thread-tags">
            <i>video games</i> <i>cooking japanese food</i> <i>learning japanese</i> <i>cycling</i> <i>matcha</i> <i>dnd</i>
            <i>dyeing my hair</i> <i>making chainmail armor/jewelry</i> <i>H games</i>
        </div><br><br>



        <center>
            <img src="img/button1.gif" class="buttons">

            <a href="https://neocities.org/site/ilta">
                <img src="img/neocities.gif" class="buttons">
            </a>

            <img src="img/button2.gif" class="buttons">

            <a href="https://glaze.cs.uchicago.edu/what-is-glaze.html">
                <img src="img/ai.gif" class="buttons">
            </a>

            <a href="https://www.aseprite.org/">
                <img src="img/aseprite.gif" class="buttons">
            </a>

            <a href="https://90sfantasyanimestuff.tumblr.com/">
                <img src="img/retroanime.gif" class="buttons">
            </a>

            <a href="https://pixeljoint.com/p/240788.htm">
                <img src="img/pixeljoint.png" class="buttons">
            </a>

            <a href="https://www.justonecookbook.com/royal-milk-tea/">
                <img src="img/milktea.gif" class="buttons">
            </a>

            <a href="https://yume.wiki/Main_Page">
                <img src="img/yumenikki.gif" class="buttons">
            </a>

            <a href="https://www.mozilla.org/en-US/">
                <img src="img/firefox.gif" class="buttons">
            </a>

            <a href="https://wikimediafoundation.org/support/">
                <img src="img/wikipedia.gif" class="buttons">
            </a>

            <a href="https://lospec.com/palette-list">
                <img src="img/colors.gif" class="buttons">
            </a>

            <a href="https://pop.system76.com/">
                <img src="img/linux.gif" class="buttons">
            </a>

            <img src="img/responsive.png" class="buttons">

            <a href="https://www.tumblr.com/ilta222/734618072139350016/
    this-also-if-youve-started-to-get-the-3-videos?source=share">
                <img src="img/ublock.png" class="buttons">
            </a><br><br>feel free to put my angelcat buttons on your page, please link to ilta222.com !<br><br>
        </center>

    </div>



    <div class="about-stats">

        <div class="about-stat">
            <b>name</b>
            <p>ilta</p>
        </div>

        <div class="about-stat">
            <b>pronouns</b>
            <p>she/her</p>
        </div>

        <div class="about-stat">
            <b>location</b>
            <p>seattle, wa</p>
        </div>

    </div>



    <div class="about-img" style="background-image:url('art/heart 1_1.gif');"></div>



</div>

@code {

}
