@page "/contact"
<div class="content-block" id="contact">



    <div class="tags-left-title">
        contact
    </div>

    <div class="tags-left">
        <ul>

            <form action="https://api.web3forms.com/submit" method="POST">
                <input type="hidden" name="access_key" value="3bf18710-880b-4d83-a625-e77395f7d0f2">
                <input name="name" type="text" class="feedback-input" placeholder="name" />
                <input name="email" type="text" class="feedback-input" placeholder="email" />
                <textarea name="message" class="feedback-input" placeholder="message"></textarea>
                <input type="submit" value="submit" />
                <input type="hidden" name="redirect" value="https://ilta222.com/success">
                <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
                <input type="hidden" name="from_name" value="angelcat">
                <input type="hidden" name="subject" value="✶ contact message ✶">
            </form>

        </ul>
    </div>



    <div class="tags-right-title">
        business inquiries only
    </div>

    <div class="tags-right">
        <ul>

            currently available for full time, part time, and contract positions.
            <br>
            <br>

            <h2>skills</h2>
            <div class="thread-tags">
                <i>ui/ux</i>
                <i>art direction</i>
                <i>sprites</i>
                <i>tilesheets</i>
                <i>illustration</i>
                <i>character design</i>
                <i>simple animation</i>
            </div>


        </ul>
    </div>



</div> 