@page "/"

<div class="content-block" id="portfolio">

	<div class="mb-container">

		<div class="image-grid">
			<img class="modal_image image-grid-col-2" id="img_1" src="art/illustration 1.gif">
			<img class="modal_image" id="img_1" src="art/illustration 3.gif">
			<img class="modal_image" id="img_1" src="art/november 16-9.gif">
			<img class="modal_image" id="img_1" src="art/cow 1-1.gif">
			<img class="modal_image" id="img_1" src="art/house 16-9.gif">
			<img class="modal_image image-grid-col-2" id="img_1" src="art/illustration 2.gif">
		</div>

	</div>
</div>


