@page "/journal"
@using IltaWebApp.Models.Entities
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<div class="content-block" id="journal">
    <div class="con-title">
        journal
    </div>
    <div class="con-content">
        @if (blogs != null)
        {
            @foreach (var blog in blogs)
            {
                <div class="connection">
                    <div class="muse-header">
                        <img src=@blog.ImageUrl />
                        <div class="muse-name">
                            <b>
                                @blog.CreatedAt.ToString("MMMM")
                            </b>
                            <span>@blog.CreatedAt.Year</span>
                        </div>
                    </div>
                    <div class="muse-info">
                        @blog.Text
                    </div>
                </div>
            }
        }
    </div>
    <div class="con-img" style="background-image:url('art/november 16-9.gif');" />
</div>

@code {

    List<BlogPost> blogs = new();
    protected override async Task OnInitializedAsync()
    {
        blogs = await HttpClient.GetFromJsonAsync<List<BlogPost>>(NavigationManager.BaseUri + "blog");
    }
}
