@page "/links"

<div class="content-block" id="links">
    <div class="con-title">
        links
    </div>
    <div class="con-content">
        <br>
        <div class="sidebar-links2">
            <a href="https://x.com/ilta222"><i class="iconsax" icon-name="birdhouse"></i> twitter</a>
            <a href="https://www.instagram.com/ilta222/"><i class="iconsax" icon-name="camera"></i> instagram</a>
            <a href="https://ilta222.tumblr.com/"><i class="iconsax" icon-name="text"></i> tumblr</a>
            <a href="https://www.tiktok.com/@@ilta222"><i class="iconsax" icon-name="music"></i> tiktok</a>
            <a href="https://www.threads.net/@@ilta222"><i class="iconsax" icon-name="messages-2"></i> threads</a>
            <a href="https://bsky.app/profile/ilta.bsky.social"><i class="iconsax" icon-name="cloud"></i> bluesky</a>
            <a href="https://cara.app/ilta/all"><i class="iconsax" icon-name="brush-4"></i> cara</a>
            <a href="https://gamejolt.com/@@ilta"><i class="iconsax" icon-name="gameboy"></i> gamejolt</a>
        </div>
    </div>
    <div class="con-img" style="background-image:url('art/house 16-9.gif');" />
</div>
