
<div>
    <div>
        <img class="modal_image" id="img_1" src="journal/may2024.png">
        <div class="muse-name">
            <b>may</b><span>2024</span>
        </div>
    </div>

    <div class="info">
    </div>
</div>

@{
    
}